<br /><br /><br /><br />
<br /><br /><br /><br />
<div class="leaf">
  <p id="notice"><%= notice %></p>
<br />
  <p>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </p>
  <br/>
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <br/>
  <p>
    <strong>Price:</strong>
    <%= @book.price %>
  </p>
  <br/>
  <p>
    <strong>Publish:</strong>
    <%= @book.publish %>
  </p>
  <br/>
  <p>
    <strong>Published:</strong>
    <%= @book.published %>
  </p>
  <br/>
  <p>
    <strong>CD:</strong>
    <%= @book.cd %>
  </p>
  <br/>
  <p>
    <strong>Picture:</strong>
    <%= image_tag(@book.picture_url) if @book.picture.present? %>
  </p>
  <br/>
  <%= link_to '編集', edit_book_path(@book), class: "btn btn-primary" %>
  <%= link_to '戻る', books_path, class: "btn btn-primary" %>
</div>
<br />
<br />